@import "tailwindcss";

:root {
  --background: 0 0% 3.9%;
  /* Noir profond */
  --foreground: 0 0% 98%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-pixel: var(--font-pixel);

  /* Night Runners Toxic Palette */
  --color-toxic-green: #00ff41;
  --color-toxic-cyan: #00ffff;
  --color-toxic-magenta: #ff00ff;
  --color-toxic-yellow: #facc15;
}

body {
  background-color: #030303;
  color: #ededed;
  font-family: var(--font-pixel), 'Courier Prime', monospace;
  overflow-x: hidden;

  /* Hard CRT Scanlines & Screen Glow */
  background-image:
    linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 50%),
    linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.01), rgba(0, 0, 255, 0.03));
  background-size: 100% 4px, 3px 100%;
}


/* Scrollbar invisible mais fonctionnelle */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-toxic-magenta);
  /* Magenta toxic au survol */
}

/* Base Night Runners Utilities */
.glitch-hover:hover {
  text-shadow: 2px 0 var(--color-toxic-magenta), -2px 0 var(--color-toxic-cyan);
  transform: skewX(-2deg);
}

.hard-border {
  border-width: 2px;
  border-radius: 0;
}